[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/e-puck2/ChibiOS.git
[submodule "blackmagic"]
	path = blackmagic
	url = https://github.com/e-puck3/blackmagic.git
[submodule "usb_pd_controller"]
	path = usb_pd_controller
	url = https://github.com/e-puck3/usb_pd_controller.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/e-puck3/micropython.git
